---
title: ZUI Prototype Calamity
---

.viewport

  .canvas{"data-scale" => 1, "data-y" => "0", "data-x" => "0"}><

    .cards-container><

      .card-group.zoomable><
        %a.zoomable-anchor{href: "#"}
        - 2.times do
          .card.zoomable><
            %a.zoomable-anchor{href: "#"}
            .card-wrapper
              %h1 Hello
              .card.card-half.zoomable><
                %a.zoomable-anchor{href: "#"}
                .card-wrapper
                  %h1 Hello
                  .card.card-half.zoomable><
                    %a.zoomable-anchor{href: "#"}
                    .card-wrapper
                      %h1 Hello
                      .card.card-half.zoomable><
                        %a.zoomable-anchor{href: "#"}
                        .card-wrapper
                          %h1 Hello

      .card-group.zoomable><
        %a.zoomable-anchor{href: "#"}
        .card-group-heading
          %h1 Half cards
        - 3.times do
          .card.card-half.zoomable><
            %a.zoomable-anchor{href: "#"}
            .card-wrapper
              %h1 Hello

      .card-group.zoomable><
        %a.zoomable-anchor{href: "#"}
        .card-group-heading
          %h1 Quarter cards
        - 4.times do
          .card.card-quarter.zoomable><
            %a.zoomable-anchor{href: "#"}
            .card-wrapper
              %h1 Hello

.overlay
  %button#zoom-out Zoom out (ESC)
