---
title: ZUI Prototype Calamity
---

.viewport

  .canvas><

    .cards-container.initial-zoomable><
      .card-group-heading
        %h1
          All cards on this page are 100vw&times;100vh.
          %br
          That means media queries work. :)
      .card-row
        .card.zoomable><
          %a.zoomable-anchor{href: "#"}
          .card-wrapper
            %h1 Hello
        .card.zoomable><
          %a.zoomable-anchor{href: "#"}
          .card-wrapper
            %h1 you
        .card.zoomable><
          %a.zoomable-anchor{href: "#"}
          .card-wrapper
            %h1 look
      .card-row
        .card.zoomable><
          %a.zoomable-anchor{href: "#"}
          .card-wrapper
            %h1 nice
        .card.zoomable><
          %a.zoomable-anchor{href: "#"}
          .card-wrapper
            %h1 today.
        .card.zoomable><
          %a.zoomable-anchor{href: "#"}
          .card-wrapper
            %h1 Cardception!
            .card-row
              .card.card-half.zoomable><
                %a.zoomable-anchor{href: "#"}
                .card-wrapper
                  %h1 Cardception!
      .card-group-heading
        %p Chrome will probably explode trying to render this. Safari works better.
        %p Zooming during a transition screws up.

.overlay
  %button#zoom-out Zoom out (ESC)
